<div id="predictions" class=" fullwidth inner-scroll">
  <div class="header p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-xs="row"
    fxLayoutAlign.gt-xs="space-between center">
    <div fxLayout="row" fxLayoutAlign="start center">
      <div class="logo" fxLayout="row" fxLayoutAlign="start center">
        <span class="logo-text h3" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          <a [routerLink]="['/apps/dashboards/analytics/prediction',groupId,stockName]">
            <mat-icon>keyboard_backspace</mat-icon><span>&nbsp;</span> Back
          </a>
          <p>{{stockName}} Stocks</p>
        </span>
      </div>
    </div>
    <div fxLayout="row" fxHide.xs class="right-breadcrumb">
      <span [routerLink]="'/apps/dashboards/analytics'" style="cursor:pointer;">Home<span>&nbsp;</span>-</span>
      <span class="routes">Prediction Groups<span>&nbsp;</span>-</span>
      <span class="routes">{{stockName}} Stocks</span>
    </div>
    <!-- <div class="search-input-wrapper ml-sm-16" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
        <label for="search" class="mr-8">
            <mat-icon class="secondary-text">search</mat-icon>
        </label>
        <mat-form-field floatLabel="never" fxFlex="1 0 auto">
            <input id="search" matInput #filter placeholder="Search">
        </mat-form-field>
    </div> -->
  </div>
  <div class="main-widget">
    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="nav-header">

      <mat-card class="nav-bar" fxLayoutWrap fxFlex="70%" fxLayoutAlign="start">
        <div class="code">
          <div fxLayout="row" fxLayoutAlign="space-between">
            <div class="left-text">
              NASDAQ: {{ticker}}
            </div>
            <div class="right-text">
              New York, United States
            </div>
          </div>
          <div class="issuer" fxLayout="row" fxLayoutAlign="start center">
            <div class="logo">
              <img src="assets/images/company/{{tickerImage}}.png" width="75px" height="75px">
            </div>

            <div class="info">
              <div class="title">
                <div>
                  <b>{{currentPrice | currency:'USD':'symbol'}}</b>
                  <mat-icon>arrow_upwards</mat-icon>
                </div>
              </div>
              <div class="address">
                <h2 style="font-size:18px;"><label style="color:#2CCEFC"><b>{{todayChange}}</b></label> | <label
                    style="color:#F79319"><b>{{todayChangePercentage}}</b></label></h2>
              </div>
            </div>
          </div>

          <div class='row'>
            <div class='column'>
              <div class='info-column'>
                <div class="logo">
                  <span>
                    <mat-icon style="color:#EFBF26">hourglass_empty</mat-icon>
                  </span>
                </div>
                <div class="info">
                  <div>{{earningDate | date:'dd.MM.yyyy':'UTC'}}</div>
                  <div class="title">Earnings Date</div>
                </div>
              </div>
            </div>
            <div class='column'>
              <div class='info-column'>
                <div class="logo">
                  <span>
                    <mat-icon style="color:#54A6FA">now_widgets </mat-icon>
                  </span>
                </div>
                <div class="info">
                  <div>{{recommendedPrice | currency:'USD':'symbol'}}</div>
                  <div class="title">Recommended Price</div>
                </div>
              </div>
            </div>
            <div class='column'>
              <div class='info-column'>
                <div class="logo">
                  <span>
                    <mat-icon style="color:#32CDFD">loyalty</mat-icon>
                  </span>
                </div>
                <div class="info">
                  <div>{{currentPrice | currency:'USD':'symbol'}}</div>
                  <div class="title">Current Price</div>
                </div>
              </div>
            </div>
          </div>
          <div class='row'>
            <div class='column'>
              <div class='info-column'>
                <div class="a">
                  <span>
                    <mat-icon style="color:#32CCFF">today</mat-icon>
                  </span>
                </div>
                <div class="info">
                  <div>{{suggestedDate | date:'dd.MM.yyyy':'UTC'}}</div>
                  <div class="title">Suggested Date</div>
                </div>
              </div>
            </div>
            <div class='column'>
              <div class='info-column'>
                <div class="logo">
                  <span>
                    <mat-icon style="color:#DA5AC9">track_changes</mat-icon>
                  </span>
                </div>
                <div class="info">
                  <div>{{targetPrice | currency:'USD':'symbol'}}</div>
                  <div class="title">Target Price</div>
                </div>
              </div>
            </div>
            <div class='column'>
              <div class='info-column'>
                <div class="logo">
                  <span>
                    <mat-icon style="color:#EFB023">view_module</mat-icon>
                  </span>
                </div>
                <div class="info">
                  <div>{{predictionGroup}} Stocks</div>
                  <div class="title">Prediction Group</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class='column'>
              <div class='info-column'>
                <div class="logo">
                  <span>
                    <mat-icon style="color:#69DB52">show_chart</mat-icon>
                  </span>
                </div>
                <div class="info">
                  <div class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a diam nec
                    augue tincidunt accumsan. In dignissim laoreet ipsum eu interdum.</div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <!--  <div class="info">
          <div class="title fontSize">List of Stocks</div>
          <div class="address bgColor">Choose a stock from the selected prediction groups</div>
        </div> -->
      </mat-card>
      <mat-card class="notes-bar" fxFlex="30%" fxLayoutAlign="center center">
        <div class="notes">
          <div class="title fontSize"><b>Useful Notes</b></div>
          <div class="address bgColor">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a diam nec
            augue tincidunt accumsan. In dignissim laoreet ipsum.
          </div>
          <div class="box-shadow" fxLayout.sm="row" fxLayoutAlign="center center">
            <label><b>{{currentPrice | currency:'USD':'symbol'}}</b></label>
            <button class="add-button" *ngIf="_stockDetailService.alreadyAdded === 'false'"
              (click)="addToPortfolioSubmit(id)" mat-flat-button>Add to portfolio</button>
            <button class="add-button" *ngIf="_stockDetailService.alreadyAdded === 'true'" mat-flat-button>Already Added
            </button>

          </div>
        </div>
      </mat-card>

    </div>
  </div>
  <div style="margin-left:2.5%">
    <h2>Algorithm</h2>
  </div>
  <div class="">
    <div class="courses" fxLayout="row wrap" fxLayoutAlign="start start">
      <div class="course" *ngFor="let course of algorithmData; let i=index" fxFlex="100" fxFlex.gt-xs="50"
        fxFlex.gt-sm="20">
        <div class="course-content" fxLayout="column">
          <div class="content" fxLayout="column" fxLayoutAlign="start start">
            <div class="number">
              <div class="logo">
                <b [ngStyle]="{'color':algorithmData[i].stepColor}">
                  0{{algorithmData[i].step_no}}
                </b>
              </div>
              <div class="info">
                <div>Step {{algorithmData[i].stepChar}}</div>
                <div class="title">Process</div>
              </div>
            </div>
            <div class="desc">{{algorithmData[i].step_details}}</div>
            <div style="margin-top:10px;">This completes task {{algorithmData[i].stepChar | lowercase}}.</div>
          </div>
        </div>
      </div>
      <div class="course" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="20">
        <div class="course-content" fxLayout="column">
          <div class="content" fxLayout="column" fxLayoutAlign="center center" fxFlex>
            <img src="assets/images/etc/content.png" width="75px" height="75px">
          </div>
        </div>
      </div>
      <div class="no-courses" *ngIf="algorithmData.length === 0">
        No courses found!
      </div>
    </div>
  </div>
  <!-- <div class="chart">
    <div class="fuse-card auto-width">
      <div class="position-relative p-24" fxLayout.xs="column" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="column" fxLayoutAlign="start start">
          <span class="h2">Amazon Vs NASDAQ</span>
          <label style="color: #b1b1b4">
            <mat-icon style="color: #8262fa">minimize</mat-icon> Amazon
            <mat-icon style="color: #b1b1b4">minimize</mat-icon> NASDAQ
          </label>
        </div>

        <div class="text-color">Alpha Value<div class="value">0.2814</div>
        </div>
        <div class="text-color">Beta Value<div class="value">0.6825</div>
        </div>

        <div fxLayout="row" fxLayoutAlign="start start">
          <div class="group-filter">
            <mat-form-field appearance="outline">
              <mat-select placeholder="Last 30 days ">
                <mat-option> abc </mat-option>
                <mat-option> abc </mat-option>
              </mat-select>
            </mat-form-field>

          </div>
        </div>
      </div>

      <div class="position-relative h-368 pb-16">
        <canvas baseChart [datasets]="widgets.widget5.datasets[widget5SelectedDay]" [labels]="widgets.widget5.labels"
          [colors]="widgets.widget5.colors" [options]="widgets.widget5.options" [chartType]="widgets.widget5.chartType">
        </canvas>
      </div>

    </div>
  </div> -->
</div>