@import "src/@fuse/scss/fuse";

:host {
    #predictions {
        background-color: #F3F7FA;
        overflow: auto;
        >.center {

            >.header {

                .search-input-wrapper {
                    max-width: 480px;
                }

                @include media-breakpoint-down(xs) {
                    margin: 24px 0;
                    height: 128px !important;
                    min-height: 128px !important;
                    max-height: 128px !important;
                }
            }
        }

        .header {
            background-color: #E8E7F9;
            color: #8262fa;
            height:5%;
            .logo{
                .logo-text{
                    a{
                        text-decoration: none;color:#b1b1b4;vertical-align:middle;
                        mat-icon{
                            vertical-align: middle;
                        }
                    }
                    p{
                        margin: 30px; vertical-align:middle; display: inline;
                    }
                }
            }
            .right-breadcrumb{
                padding-right:7px;
                .routes{
                    color: #b1b1b4; display: inline; margin-left: 15px;
                }
            }
            @include media-breakpoint-down(xs) {
                height:2%;
            }
        }

    }
    .main-widget {
      
        .nav-header {
            //padding: 20px;
            display: inline-block;
            margin: 2.5%;
            mat-card {                
                max-width: 270px;               
                mat-icon {
                    //padding: 0px 46px 0px 0px;
                    padding-left: -40px;
                    color: #8262fa;
                }

                span {
                    color: #b1b1b4;
                    display: inline;

                    // padding: 10px 10px 10px 10px;
                    h2 {
                        color: #8262fa;
                    }
                }
                @include media-breakpoint-down(sm) {
                   max-width: none;
                }
            }
            .mat-card{
                transition: none !important;
                box-shadow: none !important;
            }
            
            .nav-bar {               
                color: black;
                background-color: white;               
                .code{
                    margin-top: 18px;                    
                    .left-text{
                        font-size: 18px;
                        float:left;
                        margin-top: -20px;
                    }      
                    .right-text{
                        float:right;
                        font-size: 16px;
                        margin-top: -20px;
                        color: #686C78;                       
                    }                  
                    .issuer {
                        float: left;                                                                        
                        margin-top: 38px;
                        //margin-left: 15px;
                        .logo {
                            //width: 60px;
                            padding: 0 8px;                           
                        }

                        .info {     
                            color:#6B6E7D;                           
                            font-size: 32px;                         
                            mat-icon {     
                                color:#6B6E7D;                           
                                font-size: 32px;    
                                vertical-align: top;                            
                            }
                        }  
                        @include media-breakpoint-down(xs) {
                            float: none;     
                        }    
                        @include media-breakpoint-down(sm) {
                            float: none;     
                        }                                      
                    }

                    .row {                                                                       
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;                            
                    }                    
                    .column {                        
                        display: flex;
                        flex-direction: column;
                        flex-basis: 100%;
                        flex: 1;
                    }                    
                    .info-column {                        
                        display: flex;
                        width: auto;
                        background-color: white;
                        align-items: center;
                        .title{
                            color: #b1b1b4;
                        }
                    }
                    .info{
                        margin: 10px;
                    }                
                    
                }                                
                .cardHeight {
                    height: 100px !important;
                }              
            }
            .notes-bar{
                margin-left: 10px; 
                //margin-top:10px;               
                background-color: #7C61EE;
                color: white;
                @include media-breakpoint-down(sm) {
                    margin-top:10px;   
                    margin-left: 0px; 
                } 
                .box-shadow{
                    border-radius: 10px;
                    background-color: rgb(124, 97, 238);
                    box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.3);                   
                } 
                .add-button{                   
                    display: inline-block;
                    vertical-align: middle;
                    text-align: center;                    
                    background-color: #623EF7 !important;
                    border-radius: 8px;
                    //height: 30px;
                    margin-left:60px; 
                    @include media-breakpoint-down(md) {
                        margin-left:10px;    
                    }  
                    @include media-breakpoint-down(sm) {
                        margin-left:40px;    
                    }    
                    @include media-breakpoint-down(xs) {
                        margin-left:20px;    
                    }    
                }
                .fontSize {
                    font-size: 20px;                
                    text-align: center;
                }
                .bgColor {                    
                    text-align: center;
                    padding: 15px;
                }
                label{
                    display: inline-block;
                    vertical-align: middle;
                    margin: 10px 0;
                    font-size: 28px;
                    text-align: center;                    
                }

            }
            .active {
                background-color: #8262fa;
                color: white;
                border-radius: 3px;

                mat-icon {
                    color: white;
                }

                .info .bgColor {
                    color: white;
                }
            }
        }
    }    
    .chart{            
        margin: 2.5%;
        .fuse-card{
            transition: none !important;
            box-shadow: none !important;
            .text-color {
                color: #b1b1b4;
                @include media-breakpoint-down(sm) {
                   padding-top: 10px;
                 }
            }
            .value{
                color: #6F7376;
                font-size: 20px;
            }
            .group-filter{
                ::ng-deep .mat-select{
                    margin-top: 4px;

                }
                ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
                    border-radius: 0px !important;
                    top: 1.25em !important;                
                }

                ::ng-deep .mat-select-placeholder {
                    color: black !important;
                    font-size: 14px !important;
                    margin-top:4px; 
                    //display:none !important;
                }

                ::ng-deep .mat-select-trigger .mat-select-arrow-wrapper .mat-select-arrow {
                    color:black !important;
                    margin-top:8px !important; 
                }

                ::ng-deep .mat-form-field-outline .mat-form-field-outline-start  {
                    border-radius: 0px;
                }
                ::ng-deep .mat-form-field-outline .mat-form-field-outline-end{
                    border-radius: 0px;
                }
            }
            
        }
        @include media-breakpoint-down(sm) {
            padding-top:24px;    
        }  
        @include media-breakpoint-down(xs) {
            padding-top:24px;    
        }   

    }
    .courses {
        //width: 100%;
        max-width: 1540px;
        margin: 1.5%;
        max-height: 0%;
        .no-courses {
            font-size: 24px;
            margin: 24px 0;
            text-align: center;
        }

        .course {
            padding: 10px;
            .course-content {
                background: white;
                min-height: 160px;              
                .content {
                    padding: 12px;

                    .h1 {
                        font-size: 16px;
                        text-align: center;
                    }

                    .updated {
                        font-size: 14px;
                        font-weight: 500;
                        margin-top: 4px;
                        color: rgba(0, 0, 0, 0.37);
                    }
                    .number{
                        display:flex;
                        align-items: center;
                        
                        .logo{
                            font-size: 28px;                                      
                        }
                        .info{
                            margin: 10px;
                            
                            .title{
                                color: #b1b1b4;
                            }                    
                        }
                    }
                    .desc{
                        color: #b1b1b4;        
                    }
                }
            }
        }
    }
}