@import "src/@fuse/scss/fuse";

:host {
    #predictions {
        background-color: #F3F7FA;
        overflow: auto;
        >.center {

            >.header {

                .search-input-wrapper {
                    max-width: 480px;
                }

                @include media-breakpoint-down(xs) {
                    margin: 24px 0;
                    height: 128px !important;
                    min-height: 128px !important;
                    max-height: 128px !important;
                }
            }
        }

        .header {
            background-color: #E8E7F9;
            color: #8262fa;
        }

    }
    .main-widget {
       /*  display: flex;
        flex-direction: column; */

        .nav-header {
            padding: 20px;
            display: inline-block;

            mat-card {                
                max-width: 270px;               
                mat-icon {
                    //padding: 0px 46px 0px 0px;
                    padding-left: -40px;
                    color: #8262fa;
                }

                span {
                    color: #b1b1b4;
                    display: inline;

                    // padding: 10px 10px 10px 10px;
                    h2 {
                        color: #8262fa;
                    }
                }
            }
            .mat-card{
                transition: none !important;
                box-shadow: none !important;
            }
            .nav-bar {               
                color: black;
                margin: 10px;
                background-color: white;
               
                .code{
                    margin-top: 15px;
                   // display:inline;
                    .issuer {
                        float: left;                                                                        
                        margin-top: 15px;
                        margin-left: 25px;
                        .logo {
                            //width: 60px;
                            padding: 0 8px;                           
                        }

                        .info {                           
                            mat-icon {                                
                                font-size: 24px;                                
                            }
                        }  
                        @include media-breakpoint-down(xs) {
                            float: none;     
                        }    
                        @include media-breakpoint-down(sm) {
                            float: none;     
                        }                                      
                    }

                    .row {                        
                       // margin-left: 100px;                        
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;                            
                    }                    
                    .column {                        
                        display: flex;
                        flex-direction: column;
                        flex-basis: 100%;
                        flex: 1;
                    }                    
                    .info-column {                        
                        display: flex;
                        width: auto;
                        background-color: white;
                        align-items: center;
                        .title{
                            color: #b1b1b4;
                        }
                    }
                    .info{
                        margin: 10px;
                    }                
                    
                }                                

                .fontSize {
                    font-size: 20px;
                    color: white;
                    text-align: center;
                }

                .cardHeight {
                    height: 100px !important;
                }

                .bgColor {
                    color: white;
                    text-align: center;
                    padding: 15px;
                }
                .add-button{
                    display: inline-block;
                    vertical-align: middle;
                    margin: 10px 0 ;
                    text-align: center;
                    color: white;
                    background-color: #623EF7 !important;
                    border-radius: 8px;
                }               
                label{
                    display: inline-block;
                    vertical-align: middle;
                    margin: 10px 0;
                    font-size: 28px;
                    text-align: center;
                    color: white;
                }
            }

            .active {
                background-color: #8262fa;
                color: white;
                border-radius: 3px;

                mat-icon {
                    color: white;
                }

                .info .bgColor {
                    color: white;
                }
            }

        }
    }
    .algorithm {
       /*  display: flex;
        flex-direction: column; */
        .mat-card{
            transition: none !important;
            box-shadow: none !important;
        }
        .card-picture {
            width: 18%;
            //margin-bottom: 2%;
            //display: flex;
            .number{
                display:flex;
                align-items: center;
                
                .logo{
                    font-size: 32px;                   
                    //display: flex;
                    //flex-direction: row;
                }
                .info{
                    margin: 10px;
                    
                    .title{
                        color: #b1b1b4;
                    }
                    //display: flex;
                    //flex-direction: column;
                }
            }
            .content{
                color: #b1b1b4;        
            }
            
        }
    }
    .chart{            
        margin: 25px;
        .fuse-card{
            transition: none !important;
            box-shadow: none !important;
            .text-color {
                color: #b1b1b4;
            }
            .value{
                color: #6F7376;
                font-size: 20px;
            }
            
        }

    }
}