<div id="predictions" class="page-layout carded fullwidth inner-scroll">
  <div class="header p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
    fxLayoutAlign.gt-xs="space-between center" style="height:5%;">

    <!-- <div class="logo" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
            shopping_basket
        </mat-icon>
        <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Predictions</span>
    </div> -->
    <div fxLayout="row" fxLayoutAlign="start center">

      <button mat-icon-button class="sidebar-toggle mr-12" fxHide.gt-md>
        <mat-icon>menu</mat-icon>
      </button>

      <div class="logo" fxLayout="row" fxLayoutAlign="start center">
        <!-- <mat-icon class="logo-icon mr-16"
                      [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">account_box
            </mat-icon> -->
        <span class="logo-text h3" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          <a [routerLink]="'/apps/dashboards/analytics/prediction'"
            style="text-decoration: none;color:#b1b1b4;vertical-align:middle;">
            <mat-icon style="vertical-align:middle;">keyboard_backspace</mat-icon>Back
          </a>
          <p style="margin: 30px; vertical-align:middle; display: inline;">Stocks</p>
        </span>

        <!-- <span class="logo-text h4">
                Home
            </span> -->
      </div>
    </div>
    <div fxLayout="row">
      <span>Home -</span>
      <span style="color: #b1b1b4; display: inline; margin-left: 15px;"> Prediction Groups - </span>
      <span style="color: #b1b1b4; display: inline; margin-left: 15px;"> Stocks</span>
    </div>
    <!-- <div class="search-input-wrapper ml-sm-16" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
        <label for="search" class="mr-8">
            <mat-icon class="secondary-text">search</mat-icon>
        </label>
        <mat-form-field floatLabel="never" fxFlex="1 0 auto">
            <input id="search" matInput #filter placeholder="Search">
        </mat-form-field>
    </div> -->
  </div>
  <div class="main-widget">
    <div fxLayout="row" class="nav-header">
      <div class="nav-bar" fxFlex="70%" fxLayoutAlign="start " style="height:190px;">
        <div class="code">
          <span>
            NASDAQ: AMZN
          </span>
          <span style="">
            NASDAQ: AMZN
          </span>
          <!--  <div class="stock-detail">
            <span>
              <img src="assets/images/company/amzn.png" width="50px" height="50px">
            </span>
            <span class="data">
              <h1>54.21</h1>
              <p>+$34.21 | 2.4%</p>
            </span>
          </div> -->
          <div class="issuer" fxLayout="row" fxLayoutAlign="start center">
            <div class="logo">
              <img src="assets/images/company/amzn.png" width="75px" height="75px">
            </div>
            <div class="info">
              <div class="title">
                <h1 style="font-size:20px;"><b>54.21</b>
                  <mat-icon>arrow_upwards</mat-icon>
                </h1>

              </div>
              <div class="address">
                <h2 style="font-size:18px;">+$34.21 | 2.4%</h2>
              </div>
            </div>
            <div> ffff</div>
            <div> ffff</div>
            <div> ffff</div>
          </div>
        </div>
        <!--  <div class="info">
          <div class="title fontSize">List of Stocks</div>
          <div class="address bgColor">Choose a stock from the selected prediction groups</div>
        </div> -->
      </div>
      <div class="nav-bar" fxFlex="30%" fxLayoutAlign="start center" style="height:190px;">
        <div class="logo">
          <span>
            <mat-icon>view_comfy</mat-icon>
          </span>
        </div>

        <div class="info">
          <div class="title fontSize">Grouping Criteria</div>
          <div class="address bgColor">Get to know how we categorize stock into groups</div>
        </div>
      </div>

    </div>
  </div>
  <div class="center">

  </div>
</div>