@import "src/@fuse/scss/fuse";

:host {

    #predictions {
        background-color: rgb(243, 247, 250);

        >.center {
            .content-card {
                overflow: initial !important;
                box-shadow: none;
                .subscribed-text{
                    color: #7F63F4;                                        
                    background-color: rgb(198, 189, 236);
                    box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.3); 
                    h2{
                        margin-left: 20px
                    }           
                }
            }

            >.header {

                .search-input-wrapper {
                    max-width: 480px;
                }

                @include media-breakpoint-down(xs) {
                    margin: 24px 0;
                    height: 128px !important;
                    min-height: 128px !important;
                    max-height: 128px !important;
                }
            }
        }

        .header {
            background-color: rgb(232, 231, 249);
            color: rgb(124, 97, 238);

            .breadcrumb {
                color: #b1b1b4;
            }
        }

        .p-16 {
            padding: 16px 32px !important;

            @include media-breakpoint-down('xs') {
                padding: 16px 14px !important;
            }
        }


    }

    .bgColortoggle {
        background: white;
    }

    .main-widget {
        display: flex;
        flex-direction: column;

        .nav-header {
            padding: 23px;
            display: inline-block;

            @include media-breakpoint('xs') {
                padding: 7px;
            }

            mat-card {
                cursor: pointer;
                max-width: 270px;
                max-height: 176px;

                mat-icon {
                    //padding: 0px 46px 0px 0px;
                    padding-left: -40px;
                    color: rgb(124, 97, 238);
                    ;
                }

                span {
                    color: #b1b1b4;
                    display: inline;

                    // padding: 10px 10px 10px 10px;
                    h2 {
                        color: rgb(124, 97, 238);
                        ;
                    }
                }
            }

            .nav-bar {
                background-color: white;
                color: rgb(124, 97, 238);
                ;
                cursor: pointer;
                margin: 10px;

                mat-icon {
                    color: rgb(124, 97, 238);
                    ;
                    font-size: 40px;
                    margin: 10px;
                }

                .info {
                    margin-left: 20px;
                }

                .fontSize {
                    font-size: x-large;
                }

                .cardHeight {
                    height: 100px !important;
                }

                .bgColor {
                    color: gray;
                }
            }

            .active {
                background-color: rgb(124, 97, 238);
                ;
                color: white;
                border-radius: 3px;

                mat-icon {
                    color: white;
                }

                .info .bgColor {
                    color: white;
                }
            }

        }
    }

    .page-layout.carded {
        display: inline-table !important;
        flex-direction: column !important;
        /* flex: 1 0 auto; */
        width: 100% !important;
        min-width: 100% !important;

        @include media-breakpoint('xs') {
            display: flex !important;
        }


    }

    .page-layout {
        position: relative !important;
        overflow: inherit !important;
    }

    .mat-tab-group,
    .mat-tab-body-wrapper,
    .tab-content {
        flex: 1 1 auto;
        max-width: 100%;
    }

    #search {
        width: 200px;
    }

    .predictions-table {
        transition: none !important;
        box-shadow: none !important;
        flex: 1 1 auto;
        // border-bottom: 1px solid rgba(0, 0, 0, .12);
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        mat-header-cell {
            color: rgb(74, 76, 88);
            background-color: rgb(243, 247, 250);

            @include media-breakpoint('xs') {
                margin-left: 20px;
            }

            @include media-breakpoint('sm') {
                margin-left: 20px;
            }
        }


        .mat-header-row {
            min-height: 64px;
            border-style: none;
            color: rgb(74, 76, 88);
            background-color: rgb(243, 247, 250);
        }

        .prediction {
            position: relative;
            cursor: pointer;
            height: 84px;
        }

        .total-price {
            color: #7F63F4;
        }
        .blurFontColor {
            color: #b1b1b4; 
        }
        .blackFontColor {
            color: #686B7A; 
        }
        .mat-row {
            height: auto;
            border-bottom-width: 5px;
            border-bottom-color: rgb(243, 247, 250);
        }

        .mat-cell {
            min-width: 0;
            display: flex;
            align-items: center;

            @include media-breakpoint('xs') {
                margin-left: 20px;
            }

            @include media-breakpoint('sm') {
                margin-left: 20px;
            }

        }

        .mat-column-id {
            flex: 0 1 84px;
        }

        .mat-column-image {
            flex: 0 1 84px;

            .product-image {
                width: 52px;
                height: 52px;
                border: 1px solid rgba(0, 0, 0, .12);
            }
        }

        .mat-column-buttons {
            flex: 0 1 80px;
        }

        .quantity-indicator {
            display: inline-block;
            vertical-align: middle;
            width: 8px;
            height: 8px;
            border-radius: 4px;
            margin-right: 8px;

            &+span {
                display: inline-block;
                vertical-align: middle;
            }
        }


        .submit-button {
            //height: 30px;            
            border-radius: 20px;
            background-color: white;
            color: #7F63F4;

            /*   @include media-breakpoint('xs') {
                width: 90%;
            } */
        }

        .submit-button:hover {
            color: white;
            background-color: #7F63F4;
        }

        .active-icon {
            border-radius: 50%;
        }
        
    }

    .text-truncate {
        @include media-breakpoint('sm') {
            overflow: initial;
        }
    }

    .iconWidth {
        margin-left: 10px;
        cursor: pointer;
    }

    //filter css 
    .filter-bar {
        height: 56px;
        color: white;
        background-color: rgb(124, 97, 238);

        @include media-breakpoint('xs') {
            height: auto;
        }

        @include media-breakpoint('sm') {
            height: auto;
        }

        .filter {
            mat-form-field {
                margin-left: 15px;
            }

            ::ng-deep .mat-form-field-underline {
                display: none;
            }

            ::ng-deep .mat-select-placeholder {
                color: white !important;
                font-size: 14px !important;
                //display:none !important;
            }

            ::ng-deep .mat-select-trigger {
                font-size: 14px !important;

                .mat-select-value {
                    color: white !important;
                }
            }

            ::ng-deep .mat-form-field-label-wrapper .mat-form-field-label {
                display: none !important;
                color: white !important;
                font-size: 14px !important;
            }

            ::ng-deep .mat-select-trigger .mat-select-arrow-wrapper .mat-select-arrow {
                color: white !important;
            }

        }

        .search-bar {
            // margin-top: -66px;
            margin-right: 46px;

            @include media-breakpoint('xs') {
                margin-left: 15px;
                margin-top: 0;
            }

            @include media-breakpoint('sm') {
                margin-left: 15px;
                margin-top: 0;
            }


            mat-icon {
                font-size: 18px;
            }

            mat-form-field {
                float: right;

                @include media-breakpoint('xs') {
                    float: none;
                }

                @include media-breakpoint('sm') {
                    float: none;
                }
            }

            ::ng-deep .mat-input-placeholder {
                color: white !important;
                font-size: 14px !important;

            }

            ::ng-deep .mat-form-field-label-wrapper .mat-form-field-label {
                color: white !important;
                font-size: 14px !important;
            }

            ::ng-deep .mat-form-field-underline {
                color: white !important;
                background-color: white;
                margin-bottom: 6px;
            }
        }

    }

    .filter-bar-tab {
        margin-top: 10px;
        color: white;

        mat-form-field {
            padding-left: 10px;
            padding-right: 10px;
        }

        ::ng-deep .mat-form-field-underline {
            display: none;
        }


        .filters-left {


            mat-form-field {
                height: 56px;
            }

            ::ng-deep .mat-select-placeholder {
                color: black !important;
                font-size: 14px !important;
            }

            ::ng-deep .mat-form-field-label-wrapper .mat-form-field-label {
                display: none !important;
                color: black !important;
                font-size: 14px !important;
            }

            ::ng-deep .mat-select-trigger {
                font-size: 14px !important;

                .mat-select-value {
                    color: black !important;
                    font-size: 14px !important;

                    .mat-select-value-text {
                        font-size: 14px !important;
                    }
                }
            }


        }

        .filters-right {
            @include media-breakpoint-down(xs) {
                margin-top: 10px;

            }

            button {
                height: 56px;
                border-radius: 0%;
                background-color: white;
                color: black;
            }

            mat-form-field {
                height: 56px;
                background-color: rgb(124, 97, 238);
                color: white;
            }

            .active {
                background-color: rgb(124, 97, 238);
                color: white;
            }

            ::ng-deep .mat-select-placeholder {
                color: white !important;
                font-size: 14px !important;
            }

            ::ng-deep .mat-form-field-label-wrapper .mat-form-field-label {
                display: none !important;
                color: white !important;
                font-size: 14px !important;
            }

            ::ng-deep .mat-select-trigger .mat-select-arrow-wrapper .mat-select-arrow {
                color: white !important;
                font-size: 14px !important;

            }

            ::ng-deep .mat-select-trigger {
                font-size: 14px !important;

                .mat-select-value {
                    color: white !important;
                    font-size: 14px !important;

                    .mat-select-value-text {
                        font-size: 14px !important;
                    }
                }
            }




        }

        .active {
            background-color: rgb(124, 97, 238);

            ::ng-deep .mat-select-trigger .mat-select-arrow-wrapper .mat-select-arrow {
                color: white !important;
            }

            ::ng-deep .mat-form-field-label-wrapper .mat-form-field-label {
                display: none !important;
                color: white !important;
                font-size: 14px !important;
            }

            ::ng-deep .mat-form-field-label-wrapper .mat-form-field-label {
                display: none !important;
                color: black !important;
                font-size: 14px !important;
            }


            ::ng-deep .mat-select-placeholder {
                color: white !important;
                font-size: 14px !important;
                //display:none !important;
            }

            ::ng-deep .mat-select-trigger {
                font-size: 14px !important;

                .mat-select-value {
                    color: white !important;
                }
            }
        }
    }

    .subfilter-bar {
        margin-top: 30px;
        height: 56px;
        color: white;

        .subfilter {
            background-color: rgb(243, 247, 250);

            mat-form-field {
                padding-left: 30px;
                padding-right: 30px;
            }

            ::ng-deep .mat-form-field-underline {
                display: none;
            }

            ::ng-deep .mat-select-placeholder {
                color: black !important;
                font-size: 14px !important;
                //display:none !important;
            }

            ::ng-deep .mat-select-trigger {
                font-size: 14px !important;

                .mat-select-value {
                    color: black !important;
                }
            }

            ::ng-deep .mat-form-field-label-wrapper .mat-form-field-label {
                display: none !important;
                color: black !important;
                font-size: 14px !important;
            }

            ::ng-deep .mat-select-trigger .mat-select-arrow-wrapper .mat-select-arrow {
                color: black !important;
            }

            .active {
                background-color: rgb(124, 97, 238);
                ;
                ;

                ::ng-deep .mat-select-trigger .mat-select-arrow-wrapper .mat-select-arrow {
                    color: white !important;
                }

                ::ng-deep .mat-form-field-label-wrapper .mat-form-field-label {
                    display: none !important;
                    color: white !important;
                    font-size: 14px !important;
                }

                ::ng-deep .mat-select-placeholder {
                    color: white !important;
                    font-size: 14px !important;
                    //display:none !important;
                }

                ::ng-deep .mat-select-trigger {
                    font-size: 14px !important;

                    .mat-select-value {
                        color: white !important;
                    }
                }
            }
        }

        .right-subfilter {
            float: right;
            color: black;
            // display: flex;

            button {
                height: 56px;
                border-radius: 0%;
                background-color: white;
                color: black;
            }

            .active {
                background-color: rgb(124, 97, 238);
                color: white;
            }

            mat-form-field {
                float: right;
                background-color: rgb(124, 97, 238);
                padding-right: 18px;
                padding-left: 18px;
                //font-weight: bold;
            }

            margin-top:-56px;

            ::ng-deep .mat-form-field-underline {
                display: none;
            }

            ::ng-deep .mat-select-placeholder {
                color: white !important;
                font-size: 14px !important;
                //display:none !important;
            }

            ::ng-deep .mat-select-trigger {
                font-size: 14px !important;

                .mat-select-value {
                    color: white !important;
                }
            }

            ::ng-deep .mat-form-field-label-wrapper .mat-form-field-label {
                display: none !important;
                color: white !important;
                font-size: 14px !important;
            }

            ::ng-deep .mat-select-trigger .mat-select-arrow-wrapper .mat-select-arrow {
                color: white !important;
            }
        }
    }
}