<div id="about" class="p-24" fxLayout="row wrap">

    <div *ngIf="isSubscribed !== false" class="about-content p-24" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50"
        fxFlex.gt-md="65">

        <div class="profile-box info-box general" fxLayout="column">

            <header class="mat-accent-bg">
                <div class="title">Payment Information</div>
            </header>

            <div class="content">
                <div class="info-line">
                    <div class="title">Payment Date </div>
                    <div class="info"> {{paymentDate | date:'dd MMMM y'}}</div>
                </div>

                <div class="info-line">
                    <div class="title">Payment ID </div>
                    <div class="info">{{paymentID}}</div>
                </div>

                <div class="info-line">
                    <div class="title">Subscription Amount</div>
                    <div class="info">{{subscriptionAmount}}</div>
                </div>
            </div>

        </div>
    </div>
    <div fxLayoutAlign="center center" class="subscribed-text" *ngIf="isSubscribed === false">
        <h2 fxLayoutAlign="start start">Please subscribe plan.</h2>
    </div>
</div>