@import "~@fuse/scss/fuse";

:host {
    .outer-border {
        //background-color: lightgrey;
        //width: 300px;
        border: 5px solid #8262fa;
        padding: 10px;
        //margin: 25px;
    }

    #register {
        width: 100%;
        background: url('/assets/images/backgrounds/background-image.png') no-repeat;
        background-size: cover;

        #register-form-wrapper {
            flex: 1 0 auto;
            padding: 32px;

            @include media-breakpoint('xs') {
                padding: 16px;
            }

            #register-form {
                width: 424px;
                max-width: 424px;
                padding: 16px;
                background: #FFFFFF;
                text-align: center;
                @include mat-elevation(16);

                @include media-breakpoint('xs') {
                    padding: 24px;
                    width: 100%;
                }

                .logo {
                    width: 128px;
                    margin: -10px auto;
                    color: #8262fa;

                    .a {
                        display: inline-block;
                        padding: 5px;
                    }

                    img {
                        width: 40px;
                        margin-top: -10px;
                    }
                }

                .title {
                    font-size: 20px;
                    margin: 16px 0 12px 0;
                }

                form {
                    width: 100%;
                    text-align: left;

                    mat-form-field {
                        width: 100%;
                    }

                    mat-checkbox {
                        margin: 0;
                    }

                    .icon-text {
                        color: rgba(0, 0, 0, .54);
                    }

                    .terms {
                        margin: 0px 0 16px 0px;
                        color: #AFB0B2;
                        //place-content: none;
                        .terms-conditions {
                            font-size: 12px;
                        }

                        a {
                            font-size: 12px;
                            margin-left: 4px;
                            color: #8262fa;
                        }
                    }

                    .submit-button {
                        width: 220px;
                        margin: 16px auto;
                        display: block;
                        border-radius: 20px;
                        background-color: #8262fa;
                        color: white;

                        @include media-breakpoint('xs') {
                            width: 90%;
                        }
                    }
                }

                .register {
                    margin: 12px auto 18px auto;
                    font-weight: 500;
                    display: inline-block;

                    .text {
                        color: #AFB0B2;
                        margin-right: 8px;
                    }

                    .link {
                        color: #8262fa;
                    }
                }

                .separator {
                    font-size: 15px;
                    font-weight: 600;
                    margin: 0px auto;
                    position: relative;
                    overflow: hidden;
                    width: 216px;
                    color: rgba(0, 0, 0, 0.54);

                    .text {
                        display: inline-flex;
                        position: relative;
                        padding: 0 8px;
                        z-index: 9999;

                        &:before,
                        &:after {
                            content: '';
                            display: block;
                            width: 30px;
                            position: absolute;
                            top: 10px;
                            border-top: 1px solid rgba(0, 0, 0, 0.12);
                        }

                        &:before {
                            right: 100%;
                        }

                        &:after {
                            left: 100%;
                        }
                    }
                }

                .social-icon {
                    padding: 10px;

                    img {
                        padding: 10px;
                        width: 50px;
                        height: 50px;
                        cursor: pointer;
                    }
                }

                button {

                    &.google,
                    &.facebook {
                        width: 192px;
                        text-transform: none;
                        color: #FFFFFF;
                        font-size: 13px;
                    }

                    @include media-breakpoint('xs') {
                        width: 80%;
                    }

                    &.google {
                        background-color: #D73D32;
                        margin-bottom: 8px;
                    }

                    &.facebook {
                        background-color: rgb(63, 92, 154);
                    }
                }
            }
        }
    }
}