@import "~@fuse/scss/fuse";

#dashboard-analytics {
    background-color: #F3F7FA;
    .main-widget {
        display: flex;
        flex-direction: column;

        .nav-header {
            padding: 32px;
            display: inline-block;

            mat-card {
                cursor: pointer;
                max-width: 270px;
                max-height: 176px;

                mat-icon {
                    //padding: 0px 46px 0px 0px;
                    padding-left: -40px;
                    color: #8262fa;
                }

                span {
                    color: #b1b1b4;
                    display: inline;

                    // padding: 10px 10px 10px 10px;
                    h2 {
                        color: #8262fa;
                    }
                }
            }

            .nav-bar {
                background-color: white;
                color: #8262fa;
                cursor: pointer;
                margin: 10px;
                height: 120px;

                mat-icon {
                    color: #8262fa;
                    font-size: 40px;
                    margin: 10px;
                }

                .info {
                    margin-left: 20px;
                }

                .fontSize {
                    font-size: x-large;
                }

                .cardHeight {
                    height: 100px !important;
                }

                .bgColor {
                    color: gray;
                }
            }

            .active {
                background-color: #8262fa;
                color: white;
                border-radius: 3px;

                mat-icon {
                    color: white;
                }

                .info .bgColor {
                    color: white;
                }
            }

        }
    }

    .header {
        background-color: #E8E7F9;
        color: #8262fa;
        // height: 5%;
        .logo{
            padding-left: 24px;
        }
    }

    /*  */
    .content {
        display: flex;
        flex: 1 1 auto;
        //padding: 32px;
        min-width: 0;
        .portfolio{
            padding-left: 40px;
            padding-right: 40px;
            .fuse-card{
                transition: none !important;
                box-shadow: none !important;
                .text-color {
                    color: #b1b1b4;
                }
                .value{
                    color: #6F7376;
                    font-size: 20px;
                }
                .stock-filter{
                   /*  .mat-form-field {
                       height: 10px;
                    } */
                    .mat-select{
                        margin-top: 4px;
    
                    }
                    .mat-select-placeholder {
                        color: black !important;
                        font-size: 14px !important;
                        margin-top:4px; 
                        //display:none !important;
                    }
    
                    .mat-form-field-appearance-outline .mat-form-field-outline{
                        height: 44px;
                        top: 1.25em !important;                        
                    }
                    .mat-select-trigger .mat-select-arrow-wrapper .mat-select-arrow {
                        color:black !important;
                        margin-top:8px !important; 
                    }
                    .mat-form-field-outline .mat-form-field-outline-start  {
                        border-radius: 0px;
                    }
                    .mat-form-field-outline .mat-form-field-outline-end{
                        border-radius: 0px;
                    }
                   /*  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start{
                            border-radius: 0px !important;
                    } */
                    .mat-form-field-wrapper{
                        @include media-breakpoint('xs') {
                            padding-bottom: 0em;
                        }
                    }
                     
                }
            }
        }
       /*  .auto-width{
            padding-left: 40px;
            padding-right: 40px;
        } */
        .product-card {
            text-align: center;
            //padding: 10px;

            mat-grid-tile {
                background-color: white;
                text-align: center;
            }

            mat-grid-tile-header {
                background: none;
                text-align: center;

                h2 {
                    color: #8262fa;
                    text-align: center;
                }
            }

            mat-grid-list {
                color: #8262fa;
                text-align: center;
            }

            mat-grid-tile-footer {
                background: none;
                text-align: center;
            }

        }

        .price-tables .price-table.style-2 .period {
            padding: 0 32px;
            font-size: 15px;
            font-weight: normal;
            color: rgba(0, 0, 0, 0.54);
            text-align: center;
        }

        /* .price-tables .price-table {
            width: 18%;
        } */

        .price-tables {
            flex: 1 0 auto;            

            .price {
                .value {
                    padding: 20px;
                }
            }

            .price-table {
                width: 223px;                
                // margin-left: 20px;
                // margin-right: 20px;
            }

            .group-title {
                text-align: center;
                font-size: 16px;
                color: #8262fa;
            }

            .terms {
                color: #b1b1b4;
                text-align: center;
                padding: 18px;
            }

            .explore-button {
                background-color: white;
                margin: 8px auto 32px auto;
                width: 128px;
                color: #7F63F4;
            }

            .explore-button:hover {
                background-color: #7F63F4;
                color: white;
            }
        }
        
    }
/*     .portfolio{
        .fuse-card{
            transition: none !important;
            box-shadow: none !important;
            .text-color {
                color: #b1b1b4;
            }
            .value{
                color: #6F7376;
                font-size: 20px;
            }
            .stock-filter{
                ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start{
                        border-radius: 0px
                }
            }
        }
        
    } */
    .center{
        .predictions-table {
            flex: 1 1 auto;
            border-bottom: 1px solid rgba(0, 0, 0, .12);
            overflow: auto;
            -webkit-overflow-scrolling: touch;
            .chart-cell{
                display: block;
                width: 155px;
                height: 86px;
            }
            mat-header-cell {
                color: black;
                background-color: #F3F7FA;
            }
            .mat-row {
                height: 64px;            
                border-bottom-width: 5px;
                border-bottom-color: rgb(243, 247, 250);
                overflow: hidden;
            }
            .mat-header-row {
                min-height: 64px;
                border-bottom-width: 5px;
                border-bottom-color: rgb(243, 247, 250);
            }
    
            .prediction {
                position: relative;
                cursor: pointer;
                height: 84px;
            }
    
            .total-price {
                color: #7F63F4;
            }
    
            .mat-cell {
                min-width: 0;
                display: flex;
                align-items: center;
            }
    
            .mat-column-id {
                flex: 0 1 84px;
            }
    
            .mat-column-image {
                flex: 0 1 84px;
    
                .product-image {
                    width: 52px;
                    height: 52px;
                    border: 1px solid rgba(0, 0, 0, .12);
                }
            }
    
            .mat-column-buttons {
                flex: 0 1 80px;
            }
    
            .quantity-indicator {
                display: inline-block;
                vertical-align: middle;
                width: 8px;
                height: 8px;
                border-radius: 4px;
                margin-right: 8px;
    
                &+span {
                    display: inline-block;
                    vertical-align: middle;
                }
            }
    
            .submit-button {
                //height: 30px;            
                border-radius: 20px;
                background-color: white;
                color: #7F63F4;
    
                @include media-breakpoint('xs') {
                    width: 90%;
                }
            }
    
            .submit-button:hover {
                color: white;
                background-color: #7F63F4;
            }
    
            .active-icon {
                border-radius: 50%;
            }
            .iconWidth {
                margin-left: 10px;
                cursor: pointer;
            }
        
        }
    }
    .product-info{
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 40px;    
        .footer {
            transition: none !important;
            box-shadow: none !important;
            padding-top: 25px;
            padding-left: 30px;
            //font-family: 'CircularStd Book';
            .note {
                font-size: 24px;
                font-weight: 400;
                margin-bottom: 5px;
            }
    
            // IE10 fix
            .logo,
            .small-note {
                -ms-flex: 0 1 auto;
            }
    
            .sub-note {
                font-size: 16px;
                font-weight: 400;
                margin-bottom: 18px;
            }
    
            .small-note {
                font-size: 13px;
                color: rgba(0, 0, 0, 0.54);
                line-height: 18px;
                margin-left: 50px;             
            }
    
        }
    }
    

}