<div id="dashboard-analytics" class="page-layout blank">
    <!-- HEADER -->
    <div class="header p-16 p-sm-18" fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center">

        <!-- APP TITLE -->
        <div fxLayout="row" fxLayoutAlign="start center">
            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <span style="cursor:pointer;" [routerLink]="'/apps/dashboards/analytics'" fxHide.xs class="logo-text h1"
                    [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Home
                </span>
                <!-- (click)="called()" (click)="subscription()" *ngIf="isSubscribed === 'false'" -->
                <button id="openPaypal" class="box-shadow" *ngIf="isSubscribed === false" (click)="subscription()"
                    mat-flat-button>Subscribe Pro
                </button>
                <!-- <div style="display:none;" id="paypal-checkout-btn"></div>
 -->
                <!--  <input type="number" [(ngModel)]="finalAmount" style="padding-bottom: 10px;">
                <h2 *ngIf="paypalLoad">Paypal button is loading</h2>-->

            </div>

        </div>
        <!-- / APP TITLE -->
        <div fxLayout="row" fxHide.xs style="padding-right:24px">
            <span [routerLink]="'/apps/dashboards/analytics'">Home&nbsp;&nbsp;&nbsp;-</span>
            <span style="color: #b1b1b4;vertical-align:middle; display: inline;margin-left: 10px;"
                *ngIf="activeStock === 'prediction'"> Prediction Group</span>
            <span style="color: #b1b1b4;vertical-align:middle; display: inline;margin-left: 10px;"
                *ngIf="activeStock === 'portfolio'"> Portfolio </span>
            <span style="color: #b1b1b4;vertical-align:middle; display: inline;margin-left: 10px;"
                *ngIf="activeStock === 'product'"> Product Info</span>
        </div>
    </div>
    <!-- / HEADER -->

    <div class="main-widget">
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="row" fxLayoutAlign="start center"
            fxLayoutAlign.xs="start stretch" fxLayoutAlign.sm="start stretch" class="nav-header">
            <div class="nav-bar" fxFlex="0 1 calc(25% - 0.5%)" fxFlex.lt-md="0 1 calc(50% - 0.5%)" fxFlex.lt-sm="100%"
                fxLayoutAlign="start center" [ngClass]="{active: activeStock == 'prediction'}"
                (click)="active_stock('prediction')">
                <div class="logo">
                    <span>
                        <mat-icon>dashboard</mat-icon>
                    </span>
                </div>

                <div class="info">
                    <div class="title fontSize">Predication Groups</div>
                    <div class="address bgColor">Looking for a stock type? Start with these groups</div>
                </div>
            </div>
            <!-- [routerLink]="['/apps/dashboards/analytics/portfolio']" -->
            <div class="nav-bar" fxFlex="0 1 calc(25% - 0.5%)" fxFlex.lt-md="0 1 calc(50% - 0.5%)" fxFlex.lt-sm="100%"
                fxLayoutAlign="start center" [ngClass]="{active: activeStock == 'portfolio'}"
                (click)="active_stock('portfolio')">
                <div class="logo">
                    <span>
                        <mat-icon>donut_small</mat-icon>
                    </span>
                </div>

                <div class="info">
                    <div class="title fontSize">Portfolio</div>
                    <div class="address bgColor">Get a overview of your stocks in a short time</div>
                </div>
            </div>
            <div class="nav-bar" fxFlex="0 1 calc(25% - 0.5%)" fxFlex.lt-md="0 1 calc(50% - 0.5%)" fxFlex.lt-sm="100%"
                fxLayoutAlign="start center" [ngClass]="{active: activeStock == 'product' }"
                (click)="active_stock('product')">
                <div class="logo">
                    <span>
                        <mat-icon>error_outline</mat-icon>
                    </span>
                </div>

                <div class="info">
                    <div class="title fontSize">Product Info </div>
                    <div class="address bgColor">Get to know more about our AIStock Prediction tool</div>
                </div>
            </div>
        </div>
    </div>

    <div class="content" fxLayout="column">
        <div class="price-tables" *ngIf="activeStock === 'prediction'" [@routerTransitionDown] fxLayout="row wrap"
            fxLayoutAlign="center">
            <div class="price-table style-2" fxLayout="column" *ngFor="let item of predictionGroupData; let i=index">
                <div class="price" fxLayout="row" fxLayoutAlign="center">
                    <div class="value"><img src="assets/images/group/{{item.group_image}}.png" height="50px"
                            width="50px"></div>
                </div>
                <div class="group-title">{{item.group_name}} Stocks</div>
                <div class="period">Group</div>
                <div class="terms" fxLayout="column" fxLayoutAlign="start center">
                    <div class="term">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a diam nec augue tincidunt.
                    </div>
                </div>
                <button mat-stroked-button (click)="groupDetail(item)" class="explore-button">Explore</button>
            </div>
        </div>
        <!-- *ngIf="activeStock ==='portfolio'" -->
        <div class="portfolio" [hidden]="activeStock!=='portfolio'">
            <div class=" fuse-card auto-width">
                <span class="h2" fxLayout.xs="row">Summary</span>
                <div class="position-relative" fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="none"
                    fxLayoutAlign="space-between center">

                    <div fxLayoutAlign="start" style="color: #b1b1b4; padding-top: 12px;" fxLayout="row"
                        fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign.xs="start start"
                        fxLayoutAlign.sm="start start">

                        <div fxLayout="row" fxLayoutAlign.xs="start" style=" padding-right: 32px;">
                            <hr class="portfolio-sign">
                            <label style=" padding-left: 12px;">Portfolio</label>
                        </div>
                        <div fxLayout="row" fxLayoutAlign.xs="start" style=" padding-right: 32px;">
                            <hr class="Benchmark-portfolio-sign">
                            <label style=" padding-left: 12px;">Benchmark Portfolio</label>
                        </div>

                    </div>
                    <div class="text-data" fxLayout.xs="row" fxLayoutAlign.lg="center">
                        <div class="text-color">No. of Stocks<div class="value">2000</div>
                        </div>
                        <div class="text-color">% of Charge<div class="value">1.7%</div>
                        </div>
                    </div>

                    <div class="stock-filter" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign.lg="center">
                        <mat-form-field appearance="outline">
                            <mat-select placeholder="All Stock Groups">
                                <mat-option> abc </mat-option>
                                <mat-option> abc </mat-option>
                            </mat-select>
                        </mat-form-field>


                        <mat-form-field appearance="outline">
                            <mat-select placeholder="Last 30 days ">
                                <mat-option> abc </mat-option>
                                <mat-option> abc </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <!-- <div fxLayout="row" fxLayoutAlign="start center">
                        <div class="py-8 px-12 border-radius-2 line-height-1 mr-8 cursor-pointer"
                            (click)="widget5SelectedDay = 'yesterday'"
                            [ngClass]="{'grey-300-bg': widget5SelectedDay === 'yesterday'}">
                            Yesterday
                        </div>
                        <div class="py-8 px-12 border-radius-2 line-height-1 mr-8 cursor-pointer"
                            (click)="widget5SelectedDay = 'today'"
                            [ngClass]="{'grey-300-bg': widget5SelectedDay === 'today'}">
                            Today
                        </div>
                    </div> -->
                </div>

                <div class="position-relative h-368 pb-16">
                    <canvas class="basechart" baseChart [datasets]="widgets.widget5.datasets[widget5SelectedDay]"
                        [labels]="widgets.widget5.labels" [colors]="widgets.widget5.colors"
                        [options]="widgets.widget5.options" [chartType]="widgets.widget5.chartType">
                    </canvas>
                </div>

            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between">
                <div style="padding-top: 30px; padding-bottom: 20px;font-size:20px;">
                    Stocks from Prediction Groups
                </div>
                <div class="stock-filter">
                    <mat-form-field appearance="outline">
                        <mat-select placeholder="All Stock Groups">
                            <mat-option> abc </mat-option>
                            <mat-option> abc </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
            </div>
            <div class="center">
                <!-- <div class="search-input-wrapper ml-sm-16" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                        <label for="search" class="mr-8">
                            <mat-icon class="secondary-text">search</mat-icon>
                        </label>
                        <mat-form-field floatLabel="never" fxFlex="1 0 auto">
                            <input id="search" matInput #filter placeholder="Search">
                        </mat-form-field>
                    </div> -->
                <!-- CONTENT CARD -->
                <div class="content-card mat-white-bg">

                    <mat-table class="predictions-table" #table [dataSource]=" dataSource" matSort
                        [@animateStagger]="{value:'50'}" fusePerfectScrollbar>
                        <!-- ID Column -->
                        <ng-container matColumnDef="ticker">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Ticker</mat-header-cell>
                            <mat-cell *matCellDef="let portfolio">
                                <p class="text-truncate">{{portfolio.ticker}}</p>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="groupName">
                            <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Group Name
                            </mat-header-cell>

                            <mat-cell *matCellDef="let portfolio" fxHide fxShow.gt-sm>
                                <p class="text-truncate ">
                                    {{portfolio.groupName}}</p>
                            </mat-cell>

                        </ng-container>
                        <!-- Reference Column -->
                        <ng-container matColumnDef="stockName">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Stock Name
                            </mat-header-cell>

                            <mat-cell *matCellDef="let portfolio">
                                <img src="assets/images/company/{{portfolio.ticker_image}}.png" height="25px"
                                    width="25px">
                                <p (click)="openStockDetail(portfolio.id,portfolio.group_id,portfolio.groupName,'true')"
                                    class="text-truncate iconWidth blackFontColor">
                                    {{portfolio.stock_name}}</p>
                            </mat-cell>

                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="recommendedPrice">
                            <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Recommended Price
                            </mat-header-cell>
                            <mat-cell *matCellDef="let portfolio" fxHide fxShow.gt-sm>
                                <p class="text-truncate blurFontColor">
                                    {{portfolio.recommended_price | currency:'USD':'symbol'}}
                                </p>
                            </mat-cell>
                        </ng-container>

                        <!-- Total Price Column -->
                        <ng-container matColumnDef="currentPrice">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Current Price
                            </mat-header-cell>
                            <mat-cell *matCellDef="let portfolio">
                                <p class="total-price text-truncate">
                                    {{portfolio.current_price | currency:'USD':'symbol'}}
                                </p>
                            </mat-cell>
                        </ng-container>

                        <!-- Payment Column -->
                        <ng-container matColumnDef="suggestedDate">
                            <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Suggested Date
                            </mat-header-cell>
                            <mat-cell *matCellDef="let portfolio" fxHide fxShow.gt-sm>
                                <p class="text-truncate blurFontColor">
                                    {{portfolio.suggested_date | date:'dd MMM y'}}
                                </p>
                            </mat-cell>
                        </ng-container>

                        <!-- Status Column -->
                        <ng-container matColumnDef="tragetPrice">
                            <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md>Traget Price
                            </mat-header-cell>
                            <mat-cell *matCellDef="let portfolio" fxHide fxShow.gt-md>
                                <p class="status text-truncate h6 p-4">
                                    {{portfolio.target_price| currency:'USD':'symbol'}}
                                </p>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="todayChangePercentage">
                            <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md>Today Change %
                            </mat-header-cell>
                            <mat-cell *matCellDef="let portfolio" fxHide fxShow.gt-md>
                                <p [ngStyle]="{'color':portfolio.todayperfontColor}">
                                    {{portfolio.today_change_percentage}}
                                </p>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="addTodayChange">
                            <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md>Today Change
                            </mat-header-cell>
                            <mat-cell *matCellDef="let portfolio" fxHide fxShow.gt-md>
                                <p [ngStyle]="{'color':portfolio.todayaddfontColor}">
                                    {{portfolio.today_change | currency:'USD':'symbol'}}
                                </p>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="yourChangePercentage">
                            <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md>Your Change %
                            </mat-header-cell>
                            <mat-cell *matCellDef="let portfolio" fxHide fxShow.gt-md>
                                <p [ngStyle]="{'color':portfolio.yourperfontColor}">
                                    {{portfolio.your_change_percentage | number : '1.2'}}
                                </p>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="addYourChange">
                            <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md>Your Change
                            </mat-header-cell>
                            <mat-cell *matCellDef="let portfolio" fxHide fxShow.gt-md>
                                <p [ngStyle]="{'color':portfolio.addyourfontColor}">
                                    {{portfolio.your_change | currency:'USD':'symbol'}}
                                </p>
                            </mat-cell>
                        </ng-container>
                        <!-- Date Column -->
                        <!--   <ng-container matColumnDef="action">
                            <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Value Graph
                            </mat-header-cell>
                            <mat-cell *matCellDef="let portfolio" fxHide fxShow.gt-sm>
                                <div class="chart-cell"> -->
                        <!--  <canvas baseChart [datasets]="widgets.widget3.datasets"
                                        [labels]="widgets.widget3.labels" [colors]="widgets.widget3.colors"
                                        [options]="widgets.widget3.options" [chartType]="widgets.widget3.chartType">
                                    </canvas> -->
                        <!--     </div>
                            </mat-cell>
                        </ng-container>
 -->
                        <mat-header-row *matHeaderRowDef="displayedColumns;"></mat-header-row>

                        <mat-row *matRowDef="let portfolio; columns: displayedColumns;">
                        </mat-row>
                    </mat-table>

                    <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
                        [pageSizeOptions]="[5, 10, dataSource.filteredData.length]">
                    </mat-paginator>

                </div>
                <!-- <div *ngIf="!dataSource.length">
                    <span style="font-size:28px; color:#7F63F4">{{_analyticsDashboardService.errmsg}}</span>
                </div> -->
                <!-- / CONTENT CARD -->
            </div>
        </div>
        <div class="product-info" *ngIf="activeStock === 'product' ">
            <mat-card class="footer" *ngFor="let item of product; let i=index">
                <div class="note">{{item.question}}</div>
                <div class="sub-note">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    {{item.answer}}
                </div>
                <div fxLayout="row" fxLayoutAlign="start start">
                    <div class="small-note">
                        {{item.description}}
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>