<div id="dashboard-analytics" class="page-layout blank">
    <!-- HEADER -->
    <div class="header p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center">

        <!-- APP TITLE -->
        <div fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button class="sidebar-toggle mr-12" fxHide.gt-md>
                <mat-icon>menu</mat-icon>
            </button>

            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <!-- <mat-icon class="logo-icon mr-16"
                          [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">account_box
                </mat-icon> -->
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Home
                </span>
                <!-- <span class="logo-text h4" style="float:right;">Home</span> -->
            </div>

        </div>
        <!-- / APP TITLE -->
    </div>
    <!-- / HEADER -->

    <div class="main-widget">
        <div fxLayout="row" class="nav-header">
            <div class="nav-bar" fxFlex="25%" fxLayoutAlign="start center" [ngClass]="{active: activeStock == 'prediction'}"
                (click)="active_stock('prediction')">
                <div class="logo">
                    <span>
                        <mat-icon>dashboard</mat-icon>
                    </span>
                </div>

                <div class="info">
                    <div class="title fontSize">Predication Groups</div>
                    <div class="address bgColor">Looking for a stock type? Start with these groups</div>
                </div>
            </div>
            <div class="nav-bar" fxFlex="25%" fxLayoutAlign="start center" [ngClass]="{active: activeStock == 'portfolio'}"
                (click)="active_stock('portfolio')">
                <div class="logo">
                    <span>
                        <mat-icon>donut_small</mat-icon>
                    </span>
                </div>

                <div class="info">
                    <div class="title fontSize">Portfolio</div>
                    <div class="address bgColor">Get a overview of your stocks in a short time</div>
                </div>
            </div>
            <div class="nav-bar" fxFlex="25%" fxLayoutAlign="start center" [ngClass]="{active: activeStock == 'product'}"
                (click)="active_stock('product')">
                <div class="logo">
                    <span>
                        <mat-icon>error_outline</mat-icon>
                    </span>
                </div>

                <div class="info">
                    <div class="title fontSize">Product Info </div>
                    <div class="address bgColor">Get to know more about our AI Stock Prediction tool</div>
                </div>
            </div>
        </div>
    </div>

    <div class="content" fxLayout="column">
        <div class="price-tables" *ngIf="activeStock === 'prediction'" [@routerTransitionDown] fxLayout="row wrap"
            fxLayoutAlign="center center">
            <div class="price-table style-2" fxLayout="column" *ngFor="let item of predictionGroupData; let i=index">
                <div class="price" fxLayout="row" fxLayoutAlign="center start">
                    <div class="value"><img src="assets/images/logos/logo1.png" height="70px" width="70px"></div>
                </div>
                <div class="group-title">{{item.group_name}} Stocks</div>
                <div class="period">Group</div>
                <div class="terms" fxLayout="column" fxLayoutAlign="start center">
                    <div class="term">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a diam nec augue tincidunt
                        accumsan. In dignissim laoreet ipsum eu interdum.
                    </div>
                </div>
                <button mat-raised-button (click)="groupDetail(item)" class="explore-button">Explore</button>
            </div>
        </div>
        <div class="fuse-card auto-width" *ngIf="activeStock ==='portfolio'">

            <div class="position-relative p-24" fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="column" fxLayoutAlign="start start">
                    <span class="h2">Visitors & Page views</span>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <div class="py-8 px-12 border-radius-2 line-height-1 mr-8 cursor-pointer" (click)="widget5SelectedDay = 'yesterday'"
                        [ngClass]="{'grey-300-bg': widget5SelectedDay === 'yesterday'}">
                        Yesterday
                    </div>
                    <div class="py-8 px-12 border-radius-2 line-height-1 mr-8 cursor-pointer" (click)="widget5SelectedDay = 'today'"
                        [ngClass]="{'grey-300-bg': widget5SelectedDay === 'today'}">
                        Today
                    </div>
                </div>
            </div>

            <div class="position-relative h-368 pb-16">
                <canvas baseChart [datasets]="widgets.widget5.datasets[widget5SelectedDay]" [labels]="widgets.widget5.labels"
                    [colors]="widgets.widget5.colors" [options]="widgets.widget5.options" [chartType]="widgets.widget5.chartType">
                </canvas>
            </div>

        </div>
    </div>
</div>