@import "~@fuse/scss/fuse";

#dashboard-analytics {
    background-color: #F3F7FA;
    .main-widget {
        display: flex;
        flex-direction: column;

        .nav-header {
            padding: 32px;
            display: inline-block;

            mat-card {
                cursor: pointer;
                max-width: 270px;
                max-height: 176px;

                mat-icon {
                    //padding: 0px 46px 0px 0px;
                    padding-left: -40px;
                    color: #8262fa;
                }

                span {
                    color: #b1b1b4;
                    display: inline;

                    // padding: 10px 10px 10px 10px;
                    h2 {
                        color: #8262fa;
                    }
                }
            }

            .nav-bar {
                background-color: white;
                color: #8262fa;
                cursor: pointer;
                margin: 10px;
                height: 120px;

                mat-icon {
                    color: #8262fa;
                    font-size: 40px;
                    margin: 10px;
                }

                .info {
                    margin-left: 20px;
                }

                .fontSize {
                    font-size: x-large;
                }

                .cardHeight {
                    height: 100px !important;
                }

                .bgColor {
                    color: gray;
                }
            }

            .active {
                background-color: #8262fa;
                color: white;
                border-radius: 3px;

                mat-icon {
                    color: white;
                }

                .info .bgColor {
                    color: white;
                }
            }

        }
    }

    .header {
        background-color: #E8E7F9;
        color: #8262fa;
        // height: 5%;
    }

    /*  */
    .content {
        display: flex;
        flex: 1 1 auto;
        padding: 32px;
        min-width: 0;

        .product-card {
            text-align: center;
            padding: 10px;

            mat-grid-tile {
                background-color: white;
                text-align: center;
            }

            mat-grid-tile-header {
                background: none;
                text-align: center;

                h2 {
                    color: #8262fa;
                    text-align: center;
                }
            }

            mat-grid-list {
                color: #8262fa;
                text-align: center;
            }

            mat-grid-tile-footer {
                background: none;
                text-align: center;
            }

        }

        .price-tables .price-table.style-2 .period {
            padding: 0 32px;
            font-size: 15px;
            font-weight: normal;
            color: rgba(0, 0, 0, 0.54);
            text-align: center;
        }

        .price-tables .price-table {
            width: 18%;
        }

        .price-tables {
            flex: 1 0 auto;            

            .price {
                .value {
                    padding: 20px;
                }
            }

            .price-table {
                margin: 10px;
            }

            .group-title {
                text-align: center;
                font-size: 16px;
                color: #8262fa;
            }

            .terms {
                color: #b1b1b4;
                text-align: center;
                padding: 18px;
            }

            .explore-button {
                background-color: white;
                margin: 8px auto 32px auto;
                width: 128px;
                color: #7F63F4;
            }

            .explore-button:hover {
                background-color: #7F63F4;
                color: white;
            }
        }
        
    }

    .footer {

        .note {
            font-size: 22px;
            font-weight: 400;
            margin-bottom: 5px;
        }

        // IE10 fix
        .logo,
        .small-note {
            -ms-flex: 0 1 auto;
        }

        .sub-note {
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 18px;
        }

        .small-note {
            font-size: 13px;
            color: rgba(0, 0, 0, 0.54);
            line-height: 18px;
            margin-left: 50px;
            margin-bottom: 30px;
        }

    }

}