@import "~@fuse/scss/fuse";

:host {
    .outer-border {        
        border: 5px solid #8262fa;
        padding: 10px;        
    }
    #reset-password {
        width: 100%;
        background: url('/assets/images/backgrounds/background-image.png') no-repeat;
        background-size: cover;

        #reset-password-form-wrapper {
            flex: 1 0 auto;
            padding: 32px;

            @include media-breakpoint('xs') {
                padding: 16px;
            }

            #reset-password-form {
                width: 400px;
                max-width: 400px;
                padding: 18px;
                text-align: center;
                background: #FFFFFF;
                @include mat-elevation(16);

                @include media-breakpoint('xs') {
                    padding: 24px;
                    width: 100%;
                }

                .logo {
                    width: 100px;
                    margin: 18px auto;
                }

                .title {
                    font-size: 20px;
                    margin: 16px 0 32px 0;
                }

                form {
                    width: 100%;
                    text-align: left;

                    mat-form-field {
                        width: 100%;
                    }
                    .icon-text {
                        color: rgba(0,0,0,.54);
                    }
                    .submit-button {
                        width: 243px;
                        height: 48px;
                        margin: 16px auto;
                        display: block;
                        border-radius: 24px;
                        font-size: 18px;
                        background-color: #8262fa;
                        color: white;  
                        @include media-breakpoint('xs') {
                            width: 90%;
                        }
                    }
                }
                .link{
                    color: #8262fa;
                }
                .login {
                    margin: 32px auto 24px auto;
                    width: 250px;
                    font-weight: 500;

                    .text {
                        margin-right: 8px;
                    }
                }
            }
        }
    }
}